
<div class="likes_buttons">
<% if user_signed_in? %>
  <% if current_user.liked_by?(article.id) %>
    <%= link_to article_destroy_favorite_path(article.id), method: :delete, remote: true do %>
      <p class="like-button"><i class="fas fa-heart fa-2x" style="color: #e82a2a;"></i><span style="color: #e82a2a"><%= article.favorites.count %></span></p>
    <% end %>
  <% else %>
    <%= link_to  article_create_favorite_path(article.id), method: :post, remote: true do %>
      <p class="like-button"><i class="far fa-heart fa-2x" style="color: #e82a2a;"></i><span style="color: #e82a2a"><%= article.favorites.count %></span></p>
    <% end %>
  <% end %>
<% end %>
</div>
