




  <div class="card">
  <%= link_to article_path(article.id) do %>
    <div class="card_container">
      <div><%= image_tag article.img, class: "card_image" %></div>
      <div class="card_content">
        <h1 class="title"><%= article.name %></h1>
        <p class="description"><%= article.description %></p>
      </div>
    </div>
    <% end %>
  </div>
