<div class="container">
<div class="row d-flex justify-content-center">
<% if user_signed_in? && current_user != user %>
<div id="follow_form">
  <% if current_user.following?(user) %>
    <%= render 'unfollow2', user: user %>

  <% else %>
    <%= render 'follow2', user: user %>
  <% end %>
</div>
<% end %>
  </div>
</div>
