<div class="container">
<div class="row d-flex justify-content-center">
<% if user_signed_in? && current_user != @user %>
<div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>

  <% else %>
    <%= render 'follow' %>
  <% end %>
</div>
<% end %>
  </div>
</div>
