

.article_list {
padding: 0;
    width: 70rem;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

}

.card_wrapper {
    border-bottom: 5px solid rgb(229, 229, 229);
    padding: 4rem 0;
    width: 60rem;
    margin-left: auto;
    margin-right: auto;

}

.card_container{
    flex-direction: row-reverse;
        display: flex;
}

.card_image{
    background-position: center;
    background-size: cover;
    width: 25rem;
    position: relative;
    object-fit: cover;
    border-radius: 6px;
    margin-left: 2rem;
}

.card_content{
    flex: 1 1 auto;
    order: 0;
}

.title{
    color: rgb(0, 0, 0);
    font-family: grot;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
}

.description{
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    margin-bottom: 0px;
    font-family: grot;
    margin-top: 1rem;
}

a,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
}
