html{
  font-size: 100%;

}
body{
  font-family:  "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
  background-color: #f1efe9;
  /* background-color: white; */

}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 4rem;
  margin-right: 3rem;
  list-style: none;
}

.main-nav li{
margin-left: 2rem;
}

.main-nav a{
/* color:white; */
top: 2rem;
}

.main-nav a:nth-child(2) {
  margin-right: 2%;

}


.main-nav a:hover{
  color: #0bd;
}

.page-header{
  display: flex;
  justify-content: space-between;
}
.logo{
  font-size: 28px;
  margin-top: 20px;
}

.wrapper{
  margin: 0 auto;
}



/* HOME
----------------------------------------------------*/
/*大きな背景画像*/
.big-bg{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;

}
.test{
background-image: url("/images/news2.png");
  background-size: cover;
  width: 30%;
  height: 40%;


}

#home {
  background-image: url("/images/AdobeStock_253877018.jpeg"), linear-gradient(#c9ffbf, #ffafbd);
  width: 60rem;
  height: 40rem;
  /* height: auto; */

  /* min-height: 100vh; */
}

.home-content {
height: 40rem;
}

.page-title{
  font-size:6rem ;
  font-family: 'grot', serif;
  font-weight: normal;
  /* color: antiquewhite; */
  margin-left: -22rem;
  color: black;
  top: 1rem;
  left: 5rem;
}

.home-content-sub-title {
  top: 8rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 4rem;
}

.nav-link {
  padding: 0.3rem;
  font-family: grot;
  font-weight: bold;
}
